/*
	Inserta tu CSS aqui
*/
span, a, button{
	font-weight: bold;
}
/*estilo encabezado*/
#fondo{
	background: #FFF url("../img/grupal.jpg");
	background-repeat: no-repeat;
	height: 400px;
	background-size: 100% 100%;
}
.btn-amarillo{
	color: #000;
	background-color: #EBA613;
	border: thin;
	padding: 5% 6%;
	margin: 15% 30%;
	display: inline-block;
	text-decoration: none;
}
.logo{
	max-width: 100%;
	height: auto;
	margin: 8% 0;
}
/*estilo de navegador*/
li{
	margin: 5% 3%;
	text-align: center;
	list-style: none;
	display: inline-block;	
	padding-right: 5%;	
}
li a{
	text-decoration: none;
	color: #000;
	font-size: .8em;

}
/*fotos 3 de la columa*/
.foto-peque{
	width: 100%;
	height: auto;
	padding: 5% 0 0 0;
}
.margin{
	margin: 3% 0;
}
/*estilo de linea*/
.linea{
	border: 0; 
	border-top: 1px solid #999; 
	border-bottom: 1px solid #000; 
	height:0;
}
span{
	margin-top: 0;
}
/*pie de pagina*/
footer{
	background-color: #474646;
	padding: 3% 5%;
	color: #fff;
	margin: 5% 0 0 0;
}
#correo{
	text-decoration: none;
	color: #fff;
	font-weight: normal;
}